body{
    background-color: rgba(176, 174, 174, 0.399);   
}
.form{
    padding: 40px;
    text-align: center;
    font-size: 30px;
}

.lista{
    width: 80%;
    margin: 50px auto 0;
    border: black;
}

.tarea{
    font-size: 20px;
    margin: 20px 0px 15px 10px;
    padding: 20px 0px 20px 0px;
    display: grid;
    grid-template-columns: 5fr 1fr;
    background-color: rgb(255, 255, 255);
}